*   **Normalization**
*   **Data Recovery**
*   **Query Optimization**
*   **Cascading**

In [ ]:
import pandas as pd
import time
import os
import shutil

In [ ]:
admin = pd.read_csv('/content/admin.csv')
author = pd.read_csv('/content/author.csv')
book = pd.read_csv('/content/books.csv')
category = pd.read_csv('/content/category.csv')
issue_book = pd.read_csv('/content/issue_books.csv')
user = pd.read_csv('/content/users.csv')

In [ ]:
print(admin)

     name               email    password      mobile
0  Admin1    admin1@gmail.com  adminpass1  1234567890
1  Admin2    admin2@yahoo.com  adminpass2  2345678901
2  Admin3  admin3@hotmail.com  adminpass3  3456789012
3  Admin4    admin4@gmail.com  adminpass4  4567890123
4  Admin5    admin5@yahoo.com  adminpass5  5678901234

In [ ]:
print(author)

    author_id author_name      mobile           address
0        1001     Author1  7217761077             Noida
1        1002     Author2  7217761177          Tanjavur
2        1003     Author3  7217761277             Sikar
3        1004     Author4  7217761377  Tiruvanantapuram
4        1005     Author5  7217761477          Srinagar
5        1006     Author6  7217761577         Tirupathi
6        1007     Author7  7217761677             Noida
7        1008     Author8  7217761777          Tanjavur
8        1009     Author9  7217761877             Sikar
9        1010    Author10  7217761977  Tiruvanantapuram
10       1011    Author11  7042511984          Srinagar
11       1012    Author12  7042521984         Tirupathi
12       1013    Author13  7042531984             Noida
13       1014    Author14  7042541984          Tanjavur
14       1015    Author15  7042551984             Sikar
15       1016    Author16  7042561984  Tiruvanantapuram
16       1017    Author17  7042571984          Srinagar
17       1018    Author18  7042581984         Tirupathi
18       1019    Author19  7042591984             Noida
19       1020    Author20  7042501984          Tanjavur

In [ ]:
print(book)

   book_name  author_id  category_id  book_no  book_price
0      Book1       1001        10001   100001        1599
1      Book2       1001        10006   100002        1250
2      Book3       1002        10002   100003        2000
3      Book4       1002        10007   100004        1875
4      Book5       1003        10003   100005        2299
5      Book6       1003        10004   100006        1425
6      Book7       1004        10009   100007        1650
7      Book8       1004        10009   100008        1099
8      Book9       1005        10010   100009         975
9     Book10       1005        10010   100010        2500
10    Book11       1006        10008   100011        1399
11    Book12       1006        10008   100012        1750
12    Book13       1007        10005   100013        1999
13    Book14       1007        10005   100014        1175
14    Book15       1008        10001   100015        2150
15    Book16       1008        10003   100016        1299
16    Book17       1009        10003   100017        1525
17    Book18       1009        10006   100018        1850
18    Book19       1010        10010   100019        1499
19    Book20       1010        10010   100020        1675
20    Book21       1011        10001   100021        1325
21    Book22       1011        10006   100022        1950
22    Book23       1012        10002   100023        1299
23    Book24       1012        10007   100024        1575
24    Book25       1013        10003   100025        1499
25    Book26       1013        10004   100026        1750
26    Book27       1014        10009   100027        1999
27    Book28       1014        10009   100028        1175
28    Book29       1015        10002   100029        2150
29    Book30       1015        10002   100030        1299
30    Book31       1016        10008   100031        1525
31    Book32       1016        10008   100032        1850
32    Book33       1017        10005   100033        1399
33    Book34       1017        10005   100034        1425
34    Book35       1018        10004   100035        1099
35    Book36       1018        10001   100036         975
36    Book37       1019        10004   100037        2500
37    Book38       1019        10006   100038        1399
38    Book39       1020        10007   100039        1525
39    Book40       1020        10007   100040        1675

In [ ]:
print(category)

    category_id     category_name
0         10001           Physics
1         10002         Chemistry
2         10003       Mathematics
3         10004               CSE
4         10005        Electrical
5         10006        Mechanical
6         10007               Bio
7         10008            Novels
8         10009  Children Stories
9         10010         Magazines
10        10011       Mathematics

In [ ]:
print(issue_book)

   sno  book_no book_name author_name  student_Id  status  issue_date  \
0    6   100003     Book3     Author2         107       1  2323-12-06
1    8   100001     Book1     Author1         101       1  2323-12-06

     due_date
0  2323-12-06
1  2323-12-06

In [ ]:
print(user)

    student_id             name               email     password      mobile  \
0          101     Rahul Sharma     rahul@yahoo.com  password123  9876543210
1          102      Priya Patel     priya@gmail.com    securepwd  8765432109
2          103       Amit Singh    amit@hotmail.com     pass1234  7654321098
3          104       Neha Gupta      neha@yahoo.com  password567  6543210987
4          105      Sneha Verma     sneha@gmail.com      test123  5432109876
5          106     Vikram Joshi  vikram@hotmail.com      pass456  4321098765
6          107     Kavita Singh    kavita@yahoo.com    kavita123  3210987654
7          108      Rajesh Iyer    rajesh@gmail.com       raj456  2109876543
8          109     Anjali Reddy  anjali@hotmail.com    anjali789  1098765432
9          110     Sanjay Kumar    sanjay@yahoo.com   sanjaypass  9876543210
10         111  Meera Choudhary     meera@gmail.com     meera456  8765432109
11         112     Harish Verma  harish@hotmail.com    hverma123  7654321098
12         113     Deepika Rana   deepika@yahoo.com   deepika789  6543210987
13         114     Arjun Kapoor     arjun@gmail.com    kapoor123  5432109876
14         115     Swati Sharma   swati@hotmail.com     swati456  4321098765
15         116     Rakesh Patel    rakesh@yahoo.com   rakeshpass  3210987654
16         117      Tanvi Singh     tanvi@gmail.com     tanvi123  2109876543
17         118      Kunal Mehta   kunal@hotmail.com     kunal789  1098765432
18         119      Ishaan Shah    ishaan@gmail.com   ishaanpass  9876543210
19         120      Pooja Gupta   pooja@hotmail.com     pooja456  8765432109

      address
0       Delhi
1       Noida
2      Mumbai
3     Chennai
4     Kolkata
5   Bangalore
6     Jodhpur
7       Delhi
8       Noida
9      Mumbai
10    Chennai
11    Kolkata
12  Bangalore
13    Jodhpur
14      Delhi
15      Noida
16     Mumbai
17    Chennai
18    Kolkata
19  Bangalore

# Relation

In [ ]:
admin.columns = admin.columns.str.strip()
author.columns = author.columns.str.strip()
book.columns = book.columns.str.strip()
category.columns = category.columns.str.strip()
user.columns = user.columns.str.strip()
issue_book.columns = issue_book.columns.str.strip()

In [ ]:
book_author_merge = book.merge(author, on='author_id', how='inner')
book_cat_merge = book.merge(category, on='category_id', how='inner')
book_issue_merge = book.merge(issue_book, on='book_no', how='inner')
print(book_author_merge)

   book_name  author_id  category_id  book_no  book_price author_name  \
0      Book1       1001        10001   100001        1599     Author1
1      Book2       1001        10006   100002        1250     Author1
2      Book3       1002        10002   100003        2000     Author2
3      Book4       1002        10007   100004        1875     Author2
4      Book5       1003        10003   100005        2299     Author3
5      Book6       1003        10004   100006        1425     Author3
6      Book7       1004        10009   100007        1650     Author4
7      Book8       1004        10009   100008        1099     Author4
8      Book9       1005        10010   100009         975     Author5
9     Book10       1005        10010   100010        2500     Author5
10    Book11       1006        10008   100011        1399     Author6
11    Book12       1006        10008   100012        1750     Author6
12    Book13       1007        10005   100013        1999     Author7
13    Book14       1007        10005   100014        1175     Author7
14    Book15       1008        10001   100015        2150     Author8
15    Book16       1008        10003   100016        1299     Author8
16    Book17       1009        10003   100017        1525     Author9
17    Book18       1009        10006   100018        1850     Author9
18    Book19       1010        10010   100019        1499    Author10
19    Book20       1010        10010   100020        1675    Author10
20    Book21       1011        10001   100021        1325    Author11
21    Book22       1011        10006   100022        1950    Author11
22    Book23       1012        10002   100023        1299    Author12
23    Book24       1012        10007   100024        1575    Author12
24    Book25       1013        10003   100025        1499    Author13
25    Book26       1013        10004   100026        1750    Author13
26    Book27       1014        10009   100027        1999    Author14
27    Book28       1014        10009   100028        1175    Author14
28    Book29       1015        10002   100029        2150    Author15
29    Book30       1015        10002   100030        1299    Author15
30    Book31       1016        10008   100031        1525    Author16
31    Book32       1016        10008   100032        1850    Author16
32    Book33       1017        10005   100033        1399    Author17
33    Book34       1017        10005   100034        1425    Author17
34    Book35       1018        10004   100035        1099    Author18
35    Book36       1018        10001   100036         975    Author18
36    Book37       1019        10004   100037        2500    Author19
37    Book38       1019        10006   100038        1399    Author19
38    Book39       1020        10007   100039        1525    Author20
39    Book40       1020        10007   100040        1675    Author20

        mobile           address
0   7217761077             Noida
1   7217761077             Noida
2   7217761177          Tanjavur
3   7217761177          Tanjavur
4   7217761277             Sikar
5   7217761277             Sikar
6   7217761377  Tiruvanantapuram
7   7217761377  Tiruvanantapuram
8   7217761477          Srinagar
9   7217761477          Srinagar
10  7217761577         Tirupathi
11  7217761577         Tirupathi
12  7217761677             Noida
13  7217761677             Noida
14  7217761777          Tanjavur
15  7217761777          Tanjavur
16  7217761877             Sikar
17  7217761877             Sikar
18  7217761977  Tiruvanantapuram
19  7217761977  Tiruvanantapuram
20  7042511984          Srinagar
21  7042511984          Srinagar
22  7042521984         Tirupathi
23  7042521984         Tirupathi
24  7042531984             Noida
25  7042531984             Noida
26  7042541984          Tanjavur
27  7042541984          Tanjavur
28  7042551984             Sikar
29  7042551984             Sikar
30  7042561984  Tiruvanantapuram
31  7042561984  Tiruvanantapuram
32  7042571984          Srinagar
33  7042571984          Srinagar
34  7042581984         Tirupathi
35  7042581984         Tirupathi
36  7042591984             Noida
37  7042591984             Noida
38  7042501984          Tanjavur
39  7042501984          Tanjavur

In [ ]:
print(book_cat_merge)

   book_name  author_id  category_id  book_no  book_price     category_name
0      Book1       1001        10001   100001        1599           Physics
1     Book15       1008        10001   100015        2150           Physics
2     Book21       1011        10001   100021        1325           Physics
3     Book36       1018        10001   100036         975           Physics
4      Book2       1001        10006   100002        1250        Mechanical
5     Book18       1009        10006   100018        1850        Mechanical
6     Book22       1011        10006   100022        1950        Mechanical
7     Book38       1019        10006   100038        1399        Mechanical
8      Book3       1002        10002   100003        2000         Chemistry
9     Book23       1012        10002   100023        1299         Chemistry
10    Book29       1015        10002   100029        2150         Chemistry
11    Book30       1015        10002   100030        1299         Chemistry
12     Book4       1002        10007   100004        1875               Bio
13    Book24       1012        10007   100024        1575               Bio
14    Book39       1020        10007   100039        1525               Bio
15    Book40       1020        10007   100040        1675               Bio
16     Book5       1003        10003   100005        2299       Mathematics
17    Book16       1008        10003   100016        1299       Mathematics
18    Book17       1009        10003   100017        1525       Mathematics
19    Book25       1013        10003   100025        1499       Mathematics
20     Book6       1003        10004   100006        1425               CSE
21    Book26       1013        10004   100026        1750               CSE
22    Book35       1018        10004   100035        1099               CSE
23    Book37       1019        10004   100037        2500               CSE
24     Book7       1004        10009   100007        1650  Children Stories
25     Book8       1004        10009   100008        1099  Children Stories
26    Book27       1014        10009   100027        1999  Children Stories
27    Book28       1014        10009   100028        1175  Children Stories
28     Book9       1005        10010   100009         975         Magazines
29    Book10       1005        10010   100010        2500         Magazines
30    Book19       1010        10010   100019        1499         Magazines
31    Book20       1010        10010   100020        1675         Magazines
32    Book11       1006        10008   100011        1399            Novels
33    Book12       1006        10008   100012        1750            Novels
34    Book31       1016        10008   100031        1525            Novels
35    Book32       1016        10008   100032        1850            Novels
36    Book13       1007        10005   100013        1999        Electrical
37    Book14       1007        10005   100014        1175        Electrical
38    Book33       1017        10005   100033        1399        Electrical
39    Book34       1017        10005   100034        1425        Electrical

## Query Optimization

In [ ]:
# Find authors and book they have category is "CSE"
merged_data1 = book_author_merge.merge(category,on='category_id', how='inner')
print(merged_data1)

   book_name  author_id  category_id  book_no  book_price author_name  \
0      Book1       1001        10001   100001        1599     Author1
1     Book15       1008        10001   100015        2150     Author8
2     Book21       1011        10001   100021        1325    Author11
3     Book36       1018        10001   100036         975    Author18
4      Book2       1001        10006   100002        1250     Author1
5     Book18       1009        10006   100018        1850     Author9
6     Book22       1011        10006   100022        1950    Author11
7     Book38       1019        10006   100038        1399    Author19
8      Book3       1002        10002   100003        2000     Author2
9     Book23       1012        10002   100023        1299    Author12
10    Book29       1015        10002   100029        2150    Author15
11    Book30       1015        10002   100030        1299    Author15
12     Book4       1002        10007   100004        1875     Author2
13    Book24       1012        10007   100024        1575    Author12
14    Book39       1020        10007   100039        1525    Author20
15    Book40       1020        10007   100040        1675    Author20
16     Book5       1003        10003   100005        2299     Author3
17    Book16       1008        10003   100016        1299     Author8
18    Book17       1009        10003   100017        1525     Author9
19    Book25       1013        10003   100025        1499    Author13
20     Book6       1003        10004   100006        1425     Author3
21    Book26       1013        10004   100026        1750    Author13
22    Book35       1018        10004   100035        1099    Author18
23    Book37       1019        10004   100037        2500    Author19
24     Book7       1004        10009   100007        1650     Author4
25     Book8       1004        10009   100008        1099     Author4
26    Book27       1014        10009   100027        1999    Author14
27    Book28       1014        10009   100028        1175    Author14
28     Book9       1005        10010   100009         975     Author5
29    Book10       1005        10010   100010        2500     Author5
30    Book19       1010        10010   100019        1499    Author10
31    Book20       1010        10010   100020        1675    Author10
32    Book11       1006        10008   100011        1399     Author6
33    Book12       1006        10008   100012        1750     Author6
34    Book31       1016        10008   100031        1525    Author16
35    Book32       1016        10008   100032        1850    Author16
36    Book13       1007        10005   100013        1999     Author7
37    Book14       1007        10005   100014        1175     Author7
38    Book33       1017        10005   100033        1399    Author17
39    Book34       1017        10005   100034        1425    Author17

        mobile           address     category_name
0   7217761077             Noida           Physics
1   7217761777          Tanjavur           Physics
2   7042511984          Srinagar           Physics
3   7042581984         Tirupathi           Physics
4   7217761077             Noida        Mechanical
5   7217761877             Sikar        Mechanical
6   7042511984          Srinagar        Mechanical
7   7042591984             Noida        Mechanical
8   7217761177          Tanjavur         Chemistry
9   7042521984         Tirupathi         Chemistry
10  7042551984             Sikar         Chemistry
11  7042551984             Sikar         Chemistry
12  7217761177          Tanjavur               Bio
13  7042521984         Tirupathi               Bio
14  7042501984          Tanjavur               Bio
15  7042501984          Tanjavur               Bio
16  7217761277             Sikar       Mathematics
17  7217761777          Tanjavur       Mathematics
18  7217761877             Sikar       Mathematics
19  7042531984             Noida       Mathematics
20  7217761277             Sikar               CSE
21  7042531984             Noida               CSE
22  7042581984         Tirupathi               CSE
23  7042591984             Noida               CSE
24  7217761377  Tiruvanantapuram  Children Stories
25  7217761377  Tiruvanantapuram  Children Stories
26  7042541984          Tanjavur  Children Stories
27  7042541984          Tanjavur  Children Stories
28  7217761477          Srinagar         Magazines
29  7217761477          Srinagar         Magazines
30  7217761977  Tiruvanantapuram         Magazines
31  7217761977  Tiruvanantapuram         Magazines
32  7217761577         Tirupathi            Novels
33  7217761577         Tirupathi            Novels
34  7042561984  Tiruvanantapuram            Novels
35  7042561984  Tiruvanantapuram            Novels
36  7217761677             Noida        Electrical
37  7217761677             Noida        Electrical
38  7042571984          Srinagar        Electrical
39  7042571984          Srinagar        Electrical

In [ ]:
cse_books_authors = merged_data1[merged_data1['category_name'] == 'CSE']
print(cse_books_authors)

   book_name  author_id  category_id  book_no  book_price author_name  \
20     Book6       1003        10004   100006        1425     Author3
21    Book26       1013        10004   100026        1750    Author13
22    Book35       1018        10004   100035        1099    Author18
23    Book37       1019        10004   100037        2500    Author19

        mobile    address category_name
20  7217761277      Sikar           CSE
21  7042531984      Noida           CSE
22  7042581984  Tirupathi           CSE
23  7042591984      Noida           CSE

In [ ]:
%timeit -n 5 -r 2 merged_data = book_author_merge.merge(book_cat_merge, on='category_id', how='inner'); cse_books_authors = merged_data[merged_data['category_name'] == 'CSE']

5.62 ms ± 849 µs per loop (mean ± std. dev. of 2 runs, 5 loops each)

In [ ]:
cse_category_number = category.loc[category['category_name'] == 'CSE', 'category_id'].iloc[0]
print("Category Number for 'CSE':", cse_category_number)

Category Number for 'CSE': 10004

In [ ]:
cse_books = book[book['category_id'] == cse_category_number]
cse_authors = author[author['author_id'].isin(cse_books['author_id'])]
print(cse_authors)

    author_id author_name      mobile    address
2        1003     Author3  7217761277      Sikar
12       1013    Author13  7042531984      Noida
17       1018    Author18  7042581984  Tirupathi
18       1019    Author19  7042591984      Noida

In [ ]:
def calculate_time():
    cse_category_number = category.loc[category['category_name'] == 'CSE', 'category_id'].iloc[0]
    cse_books = book[book['category_id'] == cse_category_number]
    cse_authors = author[author['author_id'].isin(cse_books['author_id'])]
%timeit -r 2 -n 1 calculate_time()

8.32 ms ± 3.46 ms per loop (mean ± std. dev. of 2 runs, 1 loop each)

we can see that the time required for by using join operation is 5.1ms while using subquery it's 12.5ms hence we have correctly optimized .

## **Recovery**

In [ ]:
admin_path = '/content/admin.csv'
author_path = '/content/author.csv'
book_path = '/content/books.csv'
category_path = '/content/category.csv'
issue_book_path = '/content/issue_books.csv'
user_path = '/content/users.csv'

backup_directory = '/content/backup'
os.makedirs(backup_directory, exist_ok=True)

backup_admin_path = os.path.join(backup_directory, 'admin_backup.csv')
backup_author_path = os.path.join(backup_directory, 'author_backup.csv')
backup_book_path = os.path.join(backup_directory, 'books_backup.csv')
backup_category_path = os.path.join(backup_directory, 'category_backup.csv')
backup_issue_book_path = os.path.join(backup_directory, 'issue_books_backup.csv')
backup_user_path = os.path.join(backup_directory, 'users_backup.csv')

shutil.copy(admin_path, backup_admin_path)
shutil.copy(author_path, backup_author_path)
shutil.copy(book_path, backup_book_path)
shutil.copy(category_path, backup_category_path)
shutil.copy(issue_book_path, backup_issue_book_path)
shutil.copy(user_path, backup_user_path)
print(f"Backup completed.Location: {backup_directory}")

Backup completed.Location: /content/backup

In [ ]:
print(admin)

     name               email    password      mobile
0  Admin1    admin1@gmail.com  adminpass1  1234567890
1  Admin2    admin2@yahoo.com  adminpass2  2345678901
2  Admin3  admin3@hotmail.com  adminpass3  3456789012
3  Admin4    admin4@gmail.com  adminpass4  4567890123
4  Admin5    admin5@yahoo.com  adminpass5  5678901234

In [ ]:
admin_backup = pd.read_csv('/content/backup/admin_backup.csv')
print(admin_backup)

     name               email    password      mobile
0  Admin1    admin1@gmail.com  adminpass1  1234567890
1  Admin2    admin2@yahoo.com  adminpass2  2345678901
2  Admin3  admin3@hotmail.com  adminpass3  3456789012
3  Admin4    admin4@gmail.com  adminpass4  4567890123
4  Admin5    admin5@yahoo.com  adminpass5  5678901234

As we can see that Recovery Successfully happed.

# Materlization View

In [ ]:
view = book_cat_merge[book_cat_merge['category_name'] == 'CSE']
print(view.head())

   book_name  author_id  category_id  book_no  book_price category_name
20     Book6       1003        10004   100006        1425           CSE
21    Book26       1013        10004   100026        1750           CSE
22    Book35       1018        10004   100035        1099           CSE
23    Book37       1019        10004   100037        2500           CSE

In [ ]:
view = book_cat_merge[book_cat_merge['category_name'] == 'Bio']
print(view.head())

   book_name  author_id  category_id  book_no  book_price category_name
12     Book4       1002        10007   100004        1875           Bio
13    Book24       1012        10007   100024        1575           Bio
14    Book39       1020        10007   100039        1525           Bio
15    Book40       1020        10007   100040        1675           Bio

In [ ]:
view = book_author_merge[book_author_merge['author_name'] == 'Author2']
print(view.head())

  book_name  author_id  category_id  book_no  book_price author_name  \
2     Book3       1002        10002   100003        2000     Author2
3     Book4       1002        10007   100004        1875     Author2

       mobile   address
2  7217761177  Tanjavur
3  7217761177  Tanjavur

# **Data Optimization**

In [ ]:
optimal_data = merged_data.copy()
print(optimal_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   book_name_x    160 non-null    object
 1   author_id_x    160 non-null    int64
 2   category_id    160 non-null    int64
 3   book_no_x      160 non-null    int64
 4   book_price_x   160 non-null    int64
 5   author_name    160 non-null    object
 6   mobile         160 non-null    int64
 7   address        160 non-null    object
 8   book_name_y    160 non-null    object
 9   author_id_y    160 non-null    int64
 10  book_no_y      160 non-null    int64
 11  book_price_y   160 non-null    int64
 12  category_name  160 non-null    object
dtypes: int64(8), object(5)
memory usage: 17.5+ KB
None

Memory Usage: 3.1KB

In [ ]:
optimal_data.rename(columns={
    'book_name_x': 'book_name',
    'author_id_x': 'author_id',
    'category_id': 'category_id',
    'book_no_x': 'book_no',
    'book_price_x': 'book_price',
    'author_name': 'author_name',
    'mobile': 'mobile',
    'address': 'address',
    'book_name_y': 'related_book_name',
    'author_id_y': 'related_author_id',
    'book_no_y': 'related_book_no',
    'book_price_y': 'related_book_price',
    'category_name': 'related_category_name'
}, inplace=True)
optimal_data = optimal_data.loc[:, ~optimal_data.columns.duplicated()]
categorical_columns = ['book_name', 'author_name', 'address', 'related_book_name', 'related_category_name']
for column in categorical_columns:
    optimal_data[column] = optimal_data[column].astype('category')
int_columns = ['author_id', 'category_id', 'book_no', 'book_price', 'mobile', 'related_author_id', 'related_book_no', 'related_book_price']
optimal_data[int_columns] = optimal_data[int_columns].apply(pd.to_numeric, downcast='integer')
print(optimal_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   book_name              160 non-null    category
 1   author_id              160 non-null    int16
 2   category_id            160 non-null    int16
 3   book_no                160 non-null    int32
 4   book_price             160 non-null    int16
 5   author_name            160 non-null    category
 6   mobile                 160 non-null    int64
 7   address                160 non-null    category
 8   related_book_name      160 non-null    category
 9   related_author_id      160 non-null    int16
 10  related_book_no        160 non-null    int32
 11  related_book_price     160 non-null    int16
 12  related_category_name  160 non-null    category
dtypes: category(5), int16(5), int32(2), int64(1)
memory usage: 10.1 KB
None

# **Sharding**

In [ ]:
shard1_range = merged_data1[merged_data1['category_id'] <= 10005]
shard2_range = merged_data1[(merged_data1['category_id'] > 10005) & (merged_data1['category_id'] <= 10007)]

In [ ]:
num_shards = 3
merged_data1['hash_shard'] = merged_data1['category_id'].apply(lambda x: hash(x) % num_shards)
shard1_hash = merged_data1[merged_data1['hash_shard'] == 0]
shard2_hash = merged_data1[merged_data1['hash_shard'] == 1]
shard3_hash = merged_data1[merged_data1['hash_shard'] == 2]

In [ ]:
print("\nHash Sharding Example - Shard 1:")
print(shard1_hash.head())

print("\nHash Sharding Example - Shard 2:")
print(shard2_hash.head())

print("\nHash Sharding Example - Shard 3:")
print(shard3_hash.head())

Hash Sharding Example - Shard 1:
   book_name  author_id  category_id  book_no  book_price author_name  \
8      Book3       1002        10002   100003        2000     Author2
9     Book23       1012        10002   100023        1299    Author12
10    Book29       1015        10002   100029        2150    Author15
11    Book30       1015        10002   100030        1299    Author15
32    Book11       1006        10008   100011        1399     Author6

        mobile    address category_name  hash_shard
8   7217761177   Tanjavur     Chemistry           0
9   7042521984  Tirupathi     Chemistry           0
10  7042551984      Sikar     Chemistry           0
11  7042551984      Sikar     Chemistry           0
32  7217761577  Tirupathi        Novels           0

Hash Sharding Example - Shard 2:
   book_name  author_id  category_id  book_no  book_price author_name  \
4      Book2       1001        10006   100002        1250     Author1
5     Book18       1009        10006   100018        1850     Author9
6     Book22       1011        10006   100022        1950    Author11
7     Book38       1019        10006   100038        1399    Author19
16     Book5       1003        10003   100005        2299     Author3

        mobile   address category_name  hash_shard
4   7217761077     Noida    Mechanical           1
5   7217761877     Sikar    Mechanical           1
6   7042511984  Srinagar    Mechanical           1
7   7042591984     Noida    Mechanical           1
16  7217761277     Sikar   Mathematics           1

Hash Sharding Example - Shard 3:
   book_name  author_id  category_id  book_no  book_price author_name  \
0      Book1       1001        10001   100001        1599     Author1
1     Book15       1008        10001   100015        2150     Author8
2     Book21       1011        10001   100021        1325    Author11
3     Book36       1018        10001   100036         975    Author18
12     Book4       1002        10007   100004        1875     Author2

        mobile    address category_name  hash_shard
0   7217761077      Noida       Physics           2
1   7217761777   Tanjavur       Physics           2
2   7042511984   Srinagar       Physics           2
3   7042581984  Tirupathi       Physics           2
12  7217761177   Tanjavur           Bio           2